/*
Theme Name: Custom theme
Template: twentytwentyfive
Author: Marko
Description: Twenty Twenty-Five child theme.
Version: 1.4.1764800531
Updated: 2025-12-03 22:22:11

*/

:root {
    --blue: #001B52;
    --light-blue: #0037A6;
    --orange: #FF8300;
    --white: #FFFFFF;
    --light-grey: #B8B8B8;
    --placeholder: #c0c0c0;
    --red: #FF0000;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

#newsletter,
.not-found-page {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--blue);
    background: linear-gradient(130deg, var(--blue), var(--light-blue));
    padding: 50px 65px;
    background-size: 200% 200%;
    -webkit-animation: Animation 15s ease infinite;
    -moz-animation: Animation 15s ease infinite;
    animation: Animation 15s ease infinite;
}

/* Background gradient animation */

@-webkit-keyframes Animation {
    0%{background-position: 10% 0%}
    50%{background-position: 91% 100%}
    100%{background-position: 10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position: 10% 0%}
    50%{background-position: 91% 100%}
    100%{background-position: 10% 0%}
}
@keyframes Animation { 
    0%{background-position: 10% 0%}
    50%{background-position: 91% 100%}
    100%{background-position: 10% 0%}
}

.container {
    display: flex;
    gap: 100px;
    flex-direction: row;
    position: relative;
}

.form {
    background-color: var(--white);
    border-radius: 30px;
    padding: 50px 100px;
    width: 45%;
    display: flex;
    flex-direction: column;
    min-height: 500px;
}

.bigeye {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    position: relative;
    overflow: hidden;
}

.bigeye::before {
    content: "";
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.25;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    pointer-events: none;
}

.bigeye svg {
    z-index: 1;
}

#eye {
    transform-box: fill-box;
    transform-origin: 50% 50%;
    transition: transform 0.05s linear;
}

.text,
.popup-content p {
    color: var(--blue);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 30px 0;
}


.title {
    color: var(--blue);
    font-size: 64px;
    letter-spacing: -3%;
    line-height: normal;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.bold {
    font-weight: 700;
}

.thin {
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

#after-submit {
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.bottom-row a {
    text-decoration: none;
}

.bottom-row a:hover {
    color: var(--orange);
    transition: 0.3s ease;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.socials a {
    display: flex;
    align-items: center;
}

.socials a svg path {
    transition: 0.3s ease;
}

.socials a:hover svg path {
    fill: var(--orange);
}

.nf-response-msg p:nth-child(1),
.nf-response-msg p:nth-child(3) {
    margin: 0;
}

.nf-form-fields-required {
    display: none !important;
}

.ninja-forms-req-symbol {
    display: none;
}

.nf-field-label label {
    color: var(--blue);
    font-size: 18px;
    font-weight: 500 !important;
    padding-left: 30px !important;
}

.nf-field-label label#nf-label-field-5 {
    padding-left: 0px !important;
    font-size: 12px;
    font-weight: 400 !important;
    color: var(--blue);
    cursor: pointer;
    transition: 0.3s ease;
}

.nf-field-label label#nf-label-field-5:hover {
    color:  var(--orange);
}

.nf-field-container {
    margin-bottom: 10px !important;
}

#nf-field-5-container {
    margin: 20px 0 20px 15px !important;
}

.nf-field-element input {
    border-radius: 39px;
    border: 1px solid var(--light-grey);
    background-color: var(--white);
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 400;
    transition: 0.5s;
    outline: none
}

.ninja-forms-field:focus {
    border: 1px solid var(--blue);
}

.nf-field-element input[type="submit"],
.btn-grey {
    background-color: #001B521A;
    color: var(--blue);
    border: 1px solid var(--blue);
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    border-radius: 39px;
    padding: 10px 30px;
    float: right;
    width: fit-content;
    transition: 0.3s ease;
}

.btn-grey {
    float: left;
    padding: 10px 15px;
}

.nf-field-element  input[type="submit"]:hover,
.btn-grey:hover {
    background-color: var(--blue);
    color: var(--white);
    font-weight: 300;
}

.nf-field-element  input[type="submit"]:focus,
.nf-field-element  input[type="submit"]:active,
.btn-grey:focus,
.btn-grey:active {
    background-color: var(--orange);
    color: var(--white);
    font-weight: 300;
}

.nf-after-field .nf-error-msg {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: var(--red) !important;
    padding-left: 30px !important;
}

.ninja-forms-field::placeholder {
    color: var(--placeholder);
}

.nf-error .ninja-forms-field::placeholder  {
    color: var(--red) !important;
    font-weight: 400 !important;
}

.nf-error .ninja-forms-field::-webkit-input-placeholder  {
    color: var(--red) !important;
    font-weight: 400 !important;
}

.field-wrap > div input[type="checkbox"] {
    width: 20px !important;
    accent-color: #192150;
}

.label-right .nf-field-label {
    padding-left: 10px !important;
}

.label-right .checkbox-wrap .nf-field-element {
    width: 15px;
    display: flex;
}

.popup {
    display: none; 
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background: var(--white);
    padding: 40px 15px 30px;
    border-radius: 30px;
    width: 90%;
    max-width: 650px;
    max-height: 70vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

.popup-body {
    overflow-y: auto;
    padding: 0 15px;
}

.close {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
    color: var(--blue);
}

.not-found-page {
    padding: 50px 30px;
}

.not-found-wrapper {
    background-color: var(--white);
    border-radius: 30px;
    padding: 50px 100px;
    width: 70%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 400px;
}

.not-found-wrapper h1 {
    font-size: 100px;
}


@media only screen and (max-width: 1024px) {

    #newsletter {
        padding: 50px 50px;
    }

    .container {
        gap: 40px;
    }

    .form {
        padding: 50px 40px;
        width: 70%;
        min-height: auto;
    }

    .bigeye svg {
        width: 70%;
    }

    .popup-content {
        width: 80%;
        max-width: 550px;
        max-height: 60vh;
    }

}

@media only screen and (max-width: 900px) {

    #newsletter {
        padding: 0px 50px 60px;
    }

    .container {
        flex-direction: column;
        gap: 0;
    }

    .form {
        order: 2;
        margin-top: -330px;
        position: relative;
    }

    .bigeye {
        order: 1;
        width: 100%;
        justify-content: flex-end;
        z-index: 99;
        position: relative;
        margin-top: -30px;
    }

    .bigeye svg {
        width: 33%;
    }

}

@media only screen and (max-width: 769px) {

    .form {
        width: fit-content;
        margin-top: -240px;
    }

    .bigeye {
        margin-top: -80px;
        margin-right: -30px;
    }

    .title {
        font-size: 50px;
    }

    .popup-content {
        width: 80%;
        max-width: 400px;
        max-height: 50vh;
    }

    .not-found-wrapper {
        padding: 50px 50px;
    }

}

@media only screen and (max-width: 481px) {

    #newsletter {
        padding: 0px 30px 60px;
    }

    .form {
        padding: 40px 30px;
    }

    .bigeye {
        margin-top: -110px;
        margin-right: 0px;
    }

    .title {
        font-size: 44px;
    }

    .text {
        font-size: 16px;
        margin: 25px 0;
    }

    #nf-field-5-container {
        margin: 20px 0 40px 0px !important;
    }

    .nf-field-element input[type="submit"] {
        width: 100%  !important;
    }

    .nf-field-label label {
        padding-left: 10px !important;
    }

    .not-found-wrapper h1 {
        font-size: 75px;
    }

    .not-found-wrapper .btn-grey {
        font-size: 16px;
    }

}


/* Fading effects when page loads */

/* Form effects */
#newsletter .form,
#newsletter .form .title,
#newsletter .form .text,
#newsletter .form .nf-form-content .nf-field-container,
#newsletter .form .bottom-row,
#newsletter .form .btn-grey {
    opacity: 0;
    transform: translateY(12px);
}

body.page-loaded #newsletter .form {
    animation: fadeUp 0.5s ease-out forwards;
}

body.page-loaded #newsletter .form .title {
    animation: fadeUp 0.5s ease-out 0.6s forwards;
}

body.page-loaded #newsletter .form .text {
    animation: fadeUp 0.5s ease-out 0.7s forwards;
}

body.page-loaded #newsletter .form .btn-grey {
    animation: fadeUp 0.5s ease-out 0.8s forwards;
}

body.page-loaded #newsletter .form .nf-form-content nf-field:nth-of-type(1) .nf-field-container {
    animation: fadeUp 0.5s ease-out 0.8s forwards;
}

body.page-loaded #newsletter .form .nf-form-content nf-field:nth-of-type(2) .nf-field-container {
    animation: fadeUp 0.5s ease-out 0.9s forwards;
}

body.page-loaded #newsletter .form .nf-form-content nf-field:nth-of-type(3) .nf-field-container {
    animation: fadeUp 0.5s ease-out 1s forwards;
}

body.page-loaded #newsletter .form .nf-form-content nf-field:nth-of-type(4) .nf-field-container {
    animation: fadeUp 0.5s ease-out 1.1s forwards;
}

body.page-loaded #newsletter .form .bottom-row {
    animation: fadeUp 0.5s ease-out 1.2s forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Logo effects */

.bigeye svg {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

body.page-loaded .bigeye svg {
    opacity: 1;
    transform: scale(1);
}

#g {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0.8);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

body.page-loaded #g {
    opacity: 1;
    transform: scale(1);
}

#eye-wrapper {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0.6);
    transition:
        opacity 1s ease-out 1s,
        transform 1s ease-out 1s;
}

body.page-loaded #eye-wrapper {
    opacity: 1;
    transform: scale(1);
}
